<div class="container m-4 p-3">
    <div class="jumbotron text-center">
        <h2><i class="fas fa-book-open m-3"></i> Blog List </h2>
    </div>

    @foreach (var blog in Model)
    {
        <div class="row justify-content-center">
            <div class="col-md-9 m-4">
                <div class="card m-4 ">
                    <h2 class="m-4">@blog.Titre</h2>
                    <h5><i class="far fa-clock icon m-4"></i> @blog.CreatedAt</h5>
                    <img src="~/images/@blog.ImageUrl" />

                    <button class="btn btn-primary mt-2" onclick="toggleDetails('@blog.Id')">Show Details</button>
                    <div class="details hidden" id="@blog.Id">
                        <p class="m-4">@blog.Contenu</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    function toggleDetails(blogId) {
        var detailsElement = document.getElementById(blogId);
        detailsElement.classList.toggle('hidden');
    }
</script>
<style>
    body {
        background-color: #f8f9fa;
    }

    .jumbotron {
        background-color: #343a40;
        color: #ffffff;
        padding: 2rem;
        margin-bottom: 2rem;
    }

    .card {
        margin-bottom: 1.5rem;
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s;
    }

        .card:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

    .fakeimg {
        background-color: #aaa;
        width: 100%;
        height: 200px;
        border-radius: 5px;
        overflow: hidden;
    }

    .card h2 {
        color: #601065;
    }

    .card h5 {
        color: #6c757d;
    }

    .col-md-9 {
        animation: fadeInUp 1s;
    }

    .icon {
        font-size: 24px;
        color: #6c757d;
    }

    /* Nouvelle classe pour cacher les détails */
    .hidden {
        display: none;
    }
</style>

